.mainContent {
  position: relative;
  height: 65lvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/images/mainImage.jpg");
  padding-bottom: 2rem;
}

.bookingContent {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 1px 1px 1px 0.1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1rem 2rem;
  text-align: left;
  width: 75%;
  height: 25lvh;
  background-color: #fff;
}

.about {
  padding: 6rem 1.5rem;
  background-color: #f2f2f2;
}

.about p {
  margin: 2rem auto;
  max-width: 55rem;
}

.about button {
  padding: 0.5rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
  justify-items: center;
  align-items: center;
}

.image {
  max-width: 640px;
  max-height: 360px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.cuartosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2rem;
  gap: 2rem;
}

.cuarto {
  display: flex;
  flex-direction: column;
}

.carousel {
  position: relative;
  display: inline-block;
  height: 350px;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.carousel button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}
