.searchContainer {
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.searchDisplay {
  padding: 1rem;
}

.propertyInfo {
  text-align: left;
}

.location {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.location p {
  font-size: 0.85rem;
}
